# Server Port
PORT=3000

# Google Maps Platform API Key
# For development/prototyping, you can use the Maps Demo Key or your own Google Cloud API Key
# Sign in at https://mapsplatform.google.com/maps-demo-key to generate a zero-cost demo key
GOOGLE_MAPS_API_KEY=
